@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
/*  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%); */
  background: linear-gradient(236.85deg, #0A1128 20.26%, #034078 96.03%);
 font-family: 'Roboto', sans-serif;

}

.container {
/*  background: #FEFCFB;  */
 background-color: #F6F6F6;
 
 color: #1C1C1C;
 margin: 64px;
 box-shadow: 6px 6px 6px #0E1D2F;
 border-radius: 20px;
 padding:64px;
 
}

.cabecalho{
  display:flex;
  justify-content: space-between;
}
.perfil{
  display: flex;
  
}
.perfil-foto{
  border-radius:300px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.titulo {
  margin-left:40px;
}

.titulo h1 {
  font-weight: 700;
  font-size:36px;
}

.titulo h3 {
  font-weight: 400;
  font-size:24px;
}

.tema button {
  align-self: flex-end;
  font-size:22px;
  font-weight:400;
  padding:8px 16px;
  border-radius:50px;
  background:#E1E2E7;
  border: 2px solid #000000;
  
  
}
.projetos {
/*   background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%); */
  background: linear-gradient(220deg, #389CFA 27.49%, #47C7EB 90%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  display:flex;
  flex-direction:column;
  border-radius:32px; 
 position: relative; top: 20px; left: 8px; right:20px; 
  padding: 8px 32px;
 overflow-y: scroll;
  scrollbar-width: thin; 

}

.projeto-titulo{
  list-style: none;
  font-size:36px;
  font-weight: bold;
  
}

.projeto-link{
  font-weight: 400;
  font-size:26px;
  line-height: 42px; 
  opacity:0.8;
  list-style-type: none;
}

li:hover {
opacity: 1.0;
}

.dark {
 background:linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
  background: #333439;
  color:#F6F6F6;
}

.dark .projetos {
  color:#1C1C1C;
}

.dark .tema button{
  background:#1C1C1C;
  color:#FFFFFF;
  border: 2px solid #f7f7f7;
}